/* font converted using font-converter.net. thank you! */
@font-face {
  font-family: "Chomsky";

  src: url("./Chomsky/Chomsky.otf") format("opentype"), /* Open Type Font */
    url("./Chomsky/Chomsky.svg") format("svg"), /* Legacy iOS */
    url("./Chomsky/Chomsky.ttf") format("truetype"), /* Safari, Android, iOS */
    url("./Chomsky/Chomsky.woff") format("woff"), /* Modern Browsers */
    url("./Chomsky/Chomsky.woff2") format("woff2"); /* Modern Browsers */
  font-weight: normal;
  font-style: normal;
}