.contact_details {
  padding-left: 75px;
  word-wrap: break-word;
}

.contact_detail {
  padding-bottom: 35px;
}

.contact_label {
  color: #4A4A4A;
  font-size: 1.5em;
  margin-bottom: -1px;
}

.contact_info {
  color: #0019FF;
  font-size: 1.6em;
}

@media screen and (max-width: 767px) {
  .contact_details {
      padding-left: 0px;
      padding-top: 75px;
  }   
}