@font-face {
    font-family: 'RadioGrotesk';
    src: url('/fonts/RadioGrotesk/RadioGrotesk-Regular.eot');
    src: url('/fonts/RadioGrotesk/RadioGrotesk-Regular.eot?#iefix') format('embedded-opentype'),
         url('/fonts/RadioGrotesk/RadioGrotesk-Regular.svg#RadioGrotesk-Regular') format('svg'),
         url('/fonts/RadioGrotesk/RadioGrotesk-Regular.ttf') format('truetype'),
         url('/fonts/RadioGrotesk/RadioGrotesk-Regular.woff') format('woff'),
         url('/fonts/RadioGrotesk/RadioGrotesk-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: auto;
}

@font-face {
    font-family: 'RadioGrotesk';
    src: url('/fonts/RadioGrotesk/Bold/RadioGrotesk-Bold.eot');
    src: url('/fonts/RadioGrotesk/Bold/RadioGrotesk-Bold.eot?#iefix') format('embedded-opentype'),
         url('/fonts/RadioGrotesk/Bold/RadioGrotesk-Bold.svg#RadioGrotesk-Bold') format('svg'),
         url('/fonts/RadioGrotesk/Bold/RadioGrotesk-Bold.ttf') format('truetype'),
         url('/fonts/RadioGrotesk/Bold/RadioGrotesk-Bold.woff') format('woff'),
         url('/fonts/RadioGrotesk/Bold/RadioGrotesk-Bold.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
    font-display: auto;
}

@font-face {
    font-family: 'Romana';
    src: url('/fonts/Romana/3AAC5B_0_0.eot');
    src: url('/fonts/Romana/3AAC5B_0_0.eot?#iefix') format('embedded-opentype'),
         url('/fonts/Romana/3AAC5B_0_0.ttf') format('truetype'),
         url('/fonts/Romana/3AAC5B_0_0.woff') format('woff'),
         url('/fonts/Romana/3AAC5B_0_0.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: auto;
}

@font-face {
    font-family: 'Romana';
    src: url('/fonts/Romana/3AAC5B_1_0.eot');
    src: url('/fonts/Romana/3AAC5B_1_0.eot?#iefix') format('embedded-opentype'),
         url('/fonts/Romana/3AAC5B_1_0.ttf') format('truetype'),
         url('/fonts/Romana/3AAC5B_1_0.woff') format('woff'),
         url('/fonts/Romana/3AAC5B_1_0.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
    font-display: auto;
}