h1 {
  font-family: 'Romana', serif;
  font-size: 3em;
  font-weight: bold;
  padding: 0;
}

h2 {
  font-family: 'Romana', serif;
  font-size: 2.7em;
  font-weight: normal;
}

h3 {
  font-family: 'Romana', serif;
  font-size: 2em;
  font-weight: normal;
}

h4, h5, h6 {
  font-family: 'Romana', serif;
}

p {
  font-family: 'RadioGrotesk', serif;
  font-size: 1.3em;
}

.ui {
  font-family: 'RadioGrotesk' !important;
}