.splash {
    padding-top: 50px;
    height: 95vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.logo {
    font-family: Chomsky;
    padding-bottom: 25px;
    text-align: center;
    letter-spacing: 0px;
}

.link {
    text-decoration: none;
    color: #338EEE;
    font-size: 1.2em;
    text-align: right;
    padding-bottom: 50px;
    font-family: "BasierCircle";
}

.footer p {
    font-size: 1em;
    color: #949494;
}